<!-- templates/all_episodes.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos os Episódios</title>
    <link rel="stylesheet" href="/static/custom.css">
</head>
<body>
    {% include 'menu.html' %}
    <div style="display:flex; flex-direction:row; align-items:flex-start;">
        <div style="flex:1;">
            <h1>Todos os Episódios</h1>
            <table style="width:100%; border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>Data e Hora</th>
                        <th>Título</th>
                    </tr>
                </thead>
                <tbody>
                    {% for episode in episodes %}
                    <tr>
                        <td>{{ episode.scheduled_date|replace('T', ' ') }}</td>
                        <td>
                            <a href="/episode/{{ episode.id }}">{{ episode.title }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/">Voltar</a>
        </div>
        <div style="margin-left:2em;">
            {% include 'calendar.html' %}
        </div>
    </div>
</body>
</html>
